In [87]:
import pandas as pd
import numpy as np

In [88]:
data = pd.read_csv("tune_param.csv")

In [89]:
data = data.rename(columns={'Unnamed: 0': 'Index'})
data.head()

   Index  nhid  levels  percent  kernel      drop        lr  batch_size  epoch
0      1    70       1      0.8       6  0.576811  0.001151           8    NaN
1      2    50       8      0.6       4  0.520825  0.000108          32    NaN
2      3    50       7      0.6       4  0.235228  0.000193          32    NaN
3      4    20       6      0.4       4  0.066101  0.003001           8    NaN
4      5    30       5      0.1       7  0.286545  0.010315           2    NaN

In [100]:
def param_anal(colname, dataset):
    count = dataset[colname].value_counts()
    print(count)
    avg = dataset[colname].mean()
    med = dataset[colname].median()
    print("mean of the " , colname, " value is: ", avg)
    print("median of the " , colname, " value is: ", med)
    return

In [101]:
param_anal("nhid", data)

70    24
40    20
30    19
50    19
60    18
10    12
20    12
Name: nhid, dtype: int64
mean of the  nhid  value is:  43.87096774193548
median of the  nhid  value is:  40.0

In [102]:
param_anal("levels", data)

2    17
1    16
5    16
9    14
3    13
8    13
4    12
7    12
6    11
Name: levels, dtype: int64
mean of the  levels  value is:  4.814516129032258
median of the  levels  value is:  5.0

In [103]:
param_anal("percent", data)

0.8    19
0.6    19
0.1    16
0.4    14
0.3    14
0.9    13
0.2    11
0.5    10
0.7     8
Name: percent, dtype: int64
mean of the  percent  value is:  0.5040322580645159
median of the  percent  value is:  0.5

In [94]:
param_anal("kernel", data)

8    22
5    20
7    19
2    18
3    17
4    16
6    12
Name: kernel, dtype: int64
mean of the  kernel  value is:  5.096774193548387

In [95]:
data["drop_level"] = round(data["drop"] * 10) / 10
param_anal("drop_level", data)

0.1    29
0.2    16
0.5    13
0.6    13
0.4    12
0.3    11
0.8     8
0.0     6
0.7     6
0.9     6
1.0     4
Name: drop_level, dtype: int64
mean of the  drop_level  value is:  0.3911290322580648

In [96]:
data["lr_level"] = round(np.log10(data["lr"]))
param_anal("lr_level", data)

-2.0    55
-3.0    50
-4.0    13
-1.0     6
Name: lr_level, dtype: int64
mean of the  lr_level  value is:  -2.564516129032258

In [98]:
10**(-2.564516129032258)

0.0027257365073673117

In [99]:
param_anal("batch_size", data)

16    38
8     27
2     25
4     23
32    11
Name: batch_size, dtype: int64
mean of the  batch_size  value is:  10.629032258064516

In [104]:
param_anal("epoch", data)

10.0    3
5.0     3
20.0    2
25.0    2
Name: epoch, dtype: int64
mean of the  epoch  value is:  13.5
median of the  epoch  value is:  10.0